*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(
        135deg,
        #4CAF50,
        #8BC34A
    );
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    width:90%;
    max-width:500px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

h1{
    color:#2e7d32;
    margin-bottom:20px;
}

.status{
    display:flex;
    justify-content:space-around;
    margin-bottom:25px;
    font-weight:bold;
}

.farm{
    display:flex;
    gap:15px;
    justify-content:center;
    flex-wrap:wrap;
}

.action{
    padding:15px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    transition:0.3s;
    background:#4CAF50;
    color:white;
}

.action:hover{
    transform:scale(1.1);
}

#message{
    margin-top:25px;
    font-size:18px;
    color:#333;
}

#restart{
    margin-top:20px;
    padding:12px 20px;
    border:none;
    background:#ff9800;
    color:white;
    border-radius:10px;
    cursor:pointer;
    display:none;
}